.wgm-spiel {
    .wgm-spiel__button-new-game {
        dock: top;
    }
    .wgm-spiel__button-start-game {
        dock: bottom;
    }
    .wgm-spiel__container {
        backgroundColor: lightgray;
        alignContent: space-around;
        alignItems: center;
        flexWrap: wrap;
        justifyContent: space-around;
    }
    .wgm-spiel__card {
        stretch: aspectFit;
        width: 45%;
    }
    .wgm-spiel__info {
        left: 500px;
        top: 25px;
        heigth: 75px;
        width: 75px;
    }
}