<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Werwolf"></Label>
</ActionBar>

<DockLayout class="wgm-start">
    <Button text="neues Spiel" (tap)="newGame()" dock="top" class="wgm-start__button"></Button>
    <Button text="Spiel starten!" (tap)="startGame()" dock="bottom" class="wgm-start__button"></Button>
    <ScrollView>
        <FlexboxLayout class="wgm-start__container">
            <AbsoluteLayout *ngFor="let card of cards" [class]="card.name=='Werwolf' || card.name=='Dorfbewohner' ? 'wgm-start-card wgm-start-card--large' : 'wgm-start-card wgm-start-card--small'">
                <Image [src]="card.path" stretch="aspectFit" width="100%" (tap)="tapKarte($event)" [id]="card.name" [tintColor]="kartenSpeicher.nextGameContains(card.name) && !(card.name=='Werwolf' || card.name=='Dorfbewohner') ? 'rgba(50,50,50,0.7)' : 'rgba(50,50,50,0)'"
                    class="wgm-start-card__image"></Image>
                <FlexboxLayout width="100%" height="100%" class="wgm-start-card__container">

                    <Image [nsRouterLink]="['../karte', card.name]" src="~/assets/info.png" class="wgm-start-card__link"></Image>

                    <FlexboxLayout class="wgm-start-card__counter">
                        <Button [id]="card.name + 'Minus'" (tap)="tapMinus($event)" text="-" *ngIf="card.name=='Werwolf' || card.name=='Dorfbewohner'" class="wgm-start-card__button"></Button>
                        <TextField keyboardType="number" [text]="card.name=='Werwolf'  ? anzahlWerwolf : (card.name=='Dorfbewohner' ? anzahlDorfbewohner : '')" editable="false" *ngIf="card.name=='Werwolf' || card.name=='Dorfbewohner'" class="wgm-start-card__text"></TextField>
                        <Button [id]="card.name + 'Plus'" (tap)="tapPlus($event)" text="+" *ngIf="card.name=='Werwolf' || card.name=='Dorfbewohner'" class="wgm-start-card__button"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>
            </AbsoluteLayout>
        </FlexboxLayout>
    </ScrollView>
</DockLayout>