<ActionBar class="action-bar" backgroundColor="#272727" color="#fab856">
    <Label class="action-bar-title" text="Übersicht"></Label>
</ActionBar>
<DockLayout class="wgm-gameList">
    <FlexboxLayout class="wgm-gameList__list">
        <ListView [items]="karten" class="list-group">
            <ng-template let-item="item">
                <FlexboxLayout justifyContent="space-between" alignItems="center" class="wgm-gameList__list">
                    <Label [text]='item.name' marginLeft="35px" class="wgm-overview__name wgm-gameList__item"></Label>
                    <Label *ngIf="item.spieler" [text]="item.spieler" (tap)="resetName(item)" class="wgm-overview__spielername"></Label>
                    <TextField *ngIf="!item.spieler" (blur)="onBlur($event, item)" class="wgm-overview__textfield"></TextField>
                    <button text="Tod" class="wgm-gameList__kill-button"></button>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </FlexboxLayout>
</DockLayout>