.wgm-gameList {
    background-color: #464646;
    &__list {
        flex-direction: row;
        align-content: space-between;
        color: #ffffff;
    }
    &__name {
        width: 20%;
    }
    &__amount {
        width: 50%;
        text-align: center;
    }
    &__container {
        align-content: center;
        height: 100px;
    }
    &__kill-button {
        width: 20%;
        background-color: rgba(202, 2, 2, 0.856);
    }
}