.wgm-gameList {
    background-color: #464646;
    &__list {
        dock: top;
        flexDirection: column;
        alignContent: space-between;
        color: #ffffff;
    }
    &__button {
        dock: bottom;
    }
    &__name {
        width: 30%;
    }
    &__amount {
        width: 50%;
        textAlignment: center;
    }
    &__kill-button {
        width: 20%;
        background-color: brown;
    }
}