<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Laufende Runde"></Label>
</ActionBar>


<DockLayout class="wgm-gameList">
    <button class="btn btn-primary btn-active wgm-gameList__button" text="Next" (tap)="next()"></button>

    <FlexboxLayout class="wgm-gameList__list">
        <ListView [items]="karten" class="list-group">
            <ng-template let-item="item">
                <FlexboxLayout height="100px" alignContent="center" justifyContent="space-between" [nsRouterLink]="['../karte', item.name]">
                    <Label [text]='item.name' verticalAlignment="center" marginTop="35px" marginLeft="35px"></Label>
                    <Label [text]='getAnzahl(item)' verticalAlignment="center" marginTop="35px"></Label>
                    <button class="wgm-gameList__kill-button wgm-gameList__item" text="Tod" (tap)="killPerson(item)"></button>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </FlexboxLayout>
</DockLayout>