<ActionBar class="action-bar" backgroundColor="#272727" color="#fab856">
    <Label class="action-bar-title" [text]="'Runde ' + runde"></Label>
</ActionBar>
<DockLayout class="wgm-gameList">
    <FlexboxLayout *ngIf="ersteKarte" dock="top" [justifyContent]="ersteKarte.name === 'Dorfbewohner' ? 'center' : 'space-between'" [nsRouterLink]="['../karte', ersteKarte.name]" class="wgm-gameList__list wgm-gameList-first-card">
        <Label [text]='ersteKarte.name' *ngIf="ersteKarte.name !== 'Dorfbewohner'" marginLeft="35px" class="wgm-gameList-first-card__name"></Label>
        <Label [text]='getAnzahl(ersteKarte)' *ngIf="ersteKarte.name !== 'Dorfbewohner'" class="wgm-gameList-first-card__amount"></Label>
        <button *ngIf="ersteKarte.name !== 'Dorfbewohner'" text="Tod" (tap)="killPerson(ersteKarte)" class="wgm-gameList__kill-button wgm-gameList-first-card__button"></button>
        <Label text='detail Info bla bla bla' *ngIf="ersteKarte.name !== 'Dorfbewohner'" class="wgm-gameList-first-card__info"></Label>
        <Label text='Ein neuer Tag bricht an' *ngIf="ersteKarte.name === 'Dorfbewohner'" class="wgm-gameList__new-day"></Label>
    </FlexboxLayout>

    <button class="btn btn-primary btn-active wgm-gameList__button" text="Weiter" (tap)="next()" dock="bottom"></button>
    <FlexboxLayout class="wgm-gameList__list">
        <ListView [items]="karten" class="list-group">
            <ng-template let-item="item">
                <FlexboxLayout [justifyContent]="item.name === 'Dorfbewohner' ? 'center' : 'space-between'" [nsRouterLink]="['../karte', item.name]" class="wgm-gameList__list">
                    <Label [text]='item.name' *ngIf="item.name !== 'Dorfbewohner'" marginLeft="35px" class="wgm-gameList__name wgm-gameList__item"></Label>
                    <Label [text]='getAnzahl(item)' *ngIf="item.name !== 'Dorfbewohner'" class="wgm-gameList__amount wgm-gameList__item"></Label>
                    <button *ngIf="item.name !== 'Dorfbewohner'" text="Tod" (tap)="killPerson(item)" class="wgm-gameList__kill-button"></button>
                    <Label text='Ein neuer Tag bricht an' *ngIf="item.name === 'Dorfbewohner'" class="wgm-gameList__new-day wgm-gameList__item"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </FlexboxLayout>
</DockLayout>