// Custom common variables
@import '../app-variables';
.tabview {
    tab-text-color: #ffffffc0;
    selected-tab-text-color: #fab856;
    tab-background-color: #272727;
    tab-text-font-size: 20px;
    android-selected-tab-highlight-color: rgb(214, 25, 0);
}