<ActionBar class="action-bar" backgroundColor="#272727" color="#fab856" [title]="karte.name" textAlignment="center">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<FlexboxLayout class="karten-detail">
    <Image class="karten-detail__image" [src]="karte.path" stretch="aspectFit"></Image>
    <Label class="karten-detail__text" [text]="karte.text" textWrap="true"></Label>
    <Label class="karten-detail__text" [text]="'Dies ist eine ' + gesinnung + ' Karte'" textWrap="true"></Label>
</FlexboxLayout>