<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<FlexboxLayout backgroundColor="lightgray" alignContent="space-around" alignItems="center" flexWrap="wrap" justifyContent="space-around">
    <AbsoluteLayout *ngFor="let card of cards">
        <Image [src]="card.path" stretch="aspectFill" width="45%"></Image>
        <Image src="~/assets/info.png" left="150%" top="30px" heigth="75px" width="75px"></Image>
    </AbsoluteLayout>
</FlexboxLayout>