<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<FlexboxLayout backgroundColor="lightgray" alignContent="space-around" alignItems="center" flexWrap="wrap" justifyContent="space-around">
    <AbsoluteLayout  *ngFor="let card of cards">
        <Image height="600px"  [src]="card.path"  stretch="fill" width="600px"></Image>
        <Image [nsRouterLink]="['../item', card.name]" src="~/assets/info.png" left="500px" top="25px" heigth="75px" width="75px"></Image>
    </AbsoluteLayout>
</FlexboxLayout >

