<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Laufende Runde"></Label>
</ActionBar>


<DockLayout>
    <button dock="bottom" class="btn btn-primary btn-active" backgroundColor="red" text="Next" (tap)="next()")></button>

    <FlexboxLayout dock="top" flexDirection="column" alignContent="space-between" >
        <ListView [items]="karten" class="list-group">
            <ng-template let-item="item">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label [text]='item.name'></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </FlexboxLayout>
</DockLayout>
